@use '../utils/vars.scss' as *;

.address {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 400;
  font-size: $font-text;
  line-height: 140%;
  letter-spacing: 0;

  &__text {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-style: normal;
  }

  &__link {
    padding-top: 10px;
    text-decoration: none;
    color: $color_white;

    &:hover {
      border-bottom: 1px solid $color_white;
      color: $color_menu_bg;
    }
  }
}
