.article{
  line-height: 140%;
  letter-spacing: 0px;

  &__lead{
    padding-top: 32px;
    font-weight: 500;
    font-style: Medium;
    font-size: 23px;
  }

   &__description{
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
   }

}
