@use '../utils/vars.scss' as *;

.bike {
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;

  &__image {
    max-width: 390px;
    width: 100%;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }

  &__image:hover {
    transform: scale(1.2);
  }

  &__name {
    padding-top: 32px;
  }

  &__name,
  &__price {
    font-weight: 700;
    font-size: $font-article;
  }

  &__text {
    padding-top: 8px;
    padding-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
  }

  &__price,
  &__name,
  &__text {
    line-height: 140%;
    letter-spacing: 0;
  }
}
