@use '../utils/vars.scss' as *;

.button {
  margin: auto;
  display: block;
  max-width: 360px;
  width: 100%;
  height: 56px;
  border-radius: 48px;
  background-color: $color_white;
  font-weight: 700;
  font-size: $font-text;
  line-height: 27px;
  color: $color_black;

  &--form {
    max-width: 100%;
  }

  &:hover {
    box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.6);
  }
}
