@use '../utils/vars.scss' as *;

.content {
  padding: 0 $padding-for-mobile;
}

@media screen and (min-width: 744px) {
  .content {
    padding: 0 $padding-for-tablet;
  }
}

@media screen and (min-width: 1260px) {
  .content {
    padding: 0 $padding-for-desktop;
  }
}
