@use '../utils/vars.scss' as *;

.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 48px;
}

@media screen and (min-width: 744px) {
  .contact {
    flex-direction: row;
    gap: 24px;
  }
}

@media screen and (min-width: 1260px) {
  .contact {
    gap: 180px;
  }
}
