.detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  line-height: 140%;
  letter-spacing: 0;
  padding-bottom: 40px;
  column-gap: 20px;

  &__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }

  &__image:hover {
    transform: scale(1.02);
  }

  &__title {
    padding-top: 16px;
    padding-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
    grid-column: span 2;
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    grid-column: span 2;
  }
}

@media screen and (min-width: 744px) {
  .detail {
    column-gap: 24px;
    grid-template-columns: repeat(6, 1fr);

    &__image {
      grid-column: span 2;

      &--wide {
        grid-column: span 4;
      }
    }

    &__title {
      grid-column: span 6;
    }

    &__description {
      grid-column: span 6;
    }
  }
}

@media screen and (min-width: 1260px) {
  .detail {
    &__description {
      grid-column: span 4;
    }
  }
}
