@use '../utils/vars.scss' as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 500px;

  &__label {
    display: none;
  }

  &__input {
    padding: 15px;
    height: 48px;
    font-weight: 500;
    font-size: $font-text;
    line-height: 140%;
    letter-spacing: 0;
    border-radius: 16px;
  }
  &__textarea {
    padding: 15px;
    font-weight: 500;
    font-size: $font-text;
    line-height: 140%;
    letter-spacing: 0;
    border-radius: 12px;
  }
}
