.header{
  min-height: 100vh;
  background-image: url("../images/photos/MyBike_general_mobile.jpg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 744px) {
  .header{
    background-position:center center;
    background-image: url("../images/photos/MyBike_general.jpg")
  }
}
