@use '../utils/vars.scss' as *;

.image {
  padding-top: 120px;
  width: 100%;
  left: 0;
  position: relative;
  object-fit: cover;

  @media screen and (min-width: 744px) {
    padding-top: 102px;
  }

  @media screen and (min-width: 1260px) {
    padding-top: 164px;
  }
}
