@use '../utils/vars.scss' as *;

.lead {
  padding-top: 60px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;

  &__title {
    font-size: $font-lead-mobile;
    line-height: 100%;
    letter-spacing: -1.5px;
    font-weight: 500;
  }

  &__text {
    font-size: $font-article;
    line-height: 140%;
    letter-spacing: 0;
  }
}

@media screen and (min-width: 744px) {
  .lead {
    padding-top: 120px;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    &__title {
      font-size: $font-lead-tablet;
      grid-column: span 1;
    }
  }
}

@media screen and (min-width: 1260px) {
  .lead {
    &__title {
      font-size: $font-lead-desktop;
    }
  }
}
