
.title{
font-family: Poppins;
font-weight: 700;
font-style: Bold;
font-size: 36px;
line-height: 100%;
letter-spacing: -1.5px;
text-align: center;
vertical-align: middle;
box-sizing: border-box;
padding-bottom: 100px;

&__second{
font-family: Poppins;
font-weight: 500;
font-style: Medium;
font-size: 32px;
padding-top: 60px;
}


}

@media screen and (min-width: 744px) {
  .title{
    font-size: 64px;
  }
}

@media screen and (min-width: 1260px) {
  .title{
    font-size: 80px;
  }
}
