@use '../utils/vars.scss' as *;

.title {
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: center;

  &__main {
    padding-bottom: 88px;
  }

  &__section {
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;
    text-transform: capitalize;
    padding-top: 92px;
    padding-bottom: 48px;
  }
}

@media screen and (min-width: 744px) {
  .title {
    &__main {
      padding-bottom: 130px;
      font-size: $font-title-tablet;
    }

    &__section {
      font-size: $font-lead-tablet;
    }
  }
}

@media screen and (min-width: 1260px) {
  .title {


    &__main {
      padding-bottom: 210px;
      font-size: $font-title-desktop;
    }
  }
}
