@use '../styles/utils/vars.scss' as *;
@use '../styles/blocks/reset.scss';
@use '../styles/blocks/address.scss';
@use '../styles/blocks/bike.scss';
@use '../styles/blocks/bikes.scss';
@use '../styles/blocks/button.scss';
@use '../styles/blocks/contact.scss';
@use '../styles/blocks/content.scss';
@use '../styles/blocks/detail.scss';
@use '../styles/blocks/form.scss';
@use '../styles/blocks/header.scss';
@use '../styles/blocks/lead.scss';
@use '../styles/blocks/menu.scss';
@use '../styles/blocks/navigaction.scss';
@use '../styles/blocks/title.scss';
@use '../styles/blocks/footer.scss';
@use '../styles/blocks/image.scss';


html {
  scroll-behavior: smooth;
}

body {
  background: $color_black;
  font-family: Poppins, Arial, sans-serif;
  color: $color_white;
}
