/* PADDINGS */
$padding-for-mobile: 20px;
$padding-for-tablet: 72px;
$padding-for-desktop: 120px;
$padding-header-mobile: 24px 20px 0;
$padding-header-tablet: 36px 72px 0;
$padding-header-desktop: 36px 120px 0;

/* COLORS */
$color-bg: #1d1d1d;
$color-menu-bg: #c2c2c2;
$color_black: #000;
$color_white: #fff;

/* FONT SIZES */
$font-title-mobile: 26px;
$font-title-tablet: 64px;
$font-title-desktop: 80px;
$font-lead-mobile: 32px;
$font-lead-tablet: 48px;
$font-lead-desktop: 64px;
$font-article: 24px;
$font-text: 16px;
